html {
    scroll-behavior: smooth;
}

.display-1 {
  font-family: 'Roboto Slab';
  font-weight: 100;
  color: #252627;
}

.footer {
  padding-left: 1rem;
}

body {
  background-color: #F2EFE9;
}

.nav-item {
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 30px;
  color: #252627;
}

.top50 {
  padding-top: 50px;
}

.display-2 {
  font-family: 'Roboto';
  font-weight: 400;
  color: #252627;
}

.description {
  font-family: 'Palanquin';
  border-color: #904E55 !important;
}

.font-weight-bold {
  font-weight: 700;
}

.ml-5 {
  margin-left: 5%
}

.mr-5 {
  margin-right: 5%;
}

.navbar {
  margin-left: 2.5%;
  margin-right: 2.5%
}

a {
  text-decoration: none;
  color: #252627;
}

.nav-link:hover, .nav-link:focus {
  background-color: #BFB48F;
}

p {
  color: #252627;
}

.portfolio {
  background-color: #BFB48F;
  color: #252627;
}

.card-header {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: xx-large;

}

.card-body {
  font-family: 'Roboto';
  font-size: large;
  font-weight: 300;
}

.card-footer {
  font-family: 'Palanquin';
  font-size: medium;
  font-weight: 100;
}

.experience {
  background-color: #252627;
  color: white;
}

.list-group-item {
  background-color: #252627;
  color: white;
  font-weight: 100;
  font-family: 'Palanquin';
}

.card-subtitle {
  font-family: 'Palanquin';
}

.shadow-custom {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .25), 0 3px 20px 14px rgba(0, 0, 0, 0.14) !important;
}

.btn-outline-primary {
  border-color: #252627;
  color: #252627;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  background-color: #252627;
  color: white;
}

.experience .card-header {
  background-color: rgba(0,0,0,.20);
}

.contact {
  background-color: #F2EFE9;
  border-color: #904E55 !important;
}

.btn {
  font-family: 'Roboto';
}

.btn-primary {
  background-color: #BFB48F;
  border-color: #BFB48F;
  color: #252627;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #904E55;
  border-color: #904E55;
  color: white;
}

.img-fluid {
  max-width: 60%;
}